# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python
- Scala
- R
- Julia

Some of the popular languages that Data Scientists use are:

1. Python
2. Julia
3. R

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Scikit-learn

| Data Science Tools |
|--------------------|
|  Python            |
|  Jupyter            |
|  R            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
result = 5 + 3
print(result)

8

# This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

## This will convert 200 minutes to hours by diving by 60

In [5]:
number_of_hours = 200/60
print(number_of_hours)

3.3333333333333335

## Author
Akshat